# 변수들의 count & proportion 확인

In [ ]:
import pandas as pd

df = pd.read_csv('./origin_colon_cancer.csv')
display(df)
print(df.shape[0])
print(df['icd_10'].unique())

,sex,age,fdx,mcode,bunhwado,method,icd_10,tx,seercode,stagecode,...,tx_00100,tx_01000,tx_01100,tx_10000,tx_10010,tx_10100,tx_11000,tx_11010,tx_11100,age_scaled
0,0,66,199902,81403,NaN,7,C187,11000,Regional,NaN,...,0,0,0,0,0,0,1,0,0,0.197637
1,0,46,199903,84803,NaN,7,C180,11000,Localized,TNM,...,0,0,0,0,0,0,1,0,0,-1.421526
2,1,64,199903,81403,NaN,7,C184,11000,Localized,NaN,...,0,0,0,0,0,0,1,0,0,0.035721
3,1,47,199904,84803,NaN,7,C20,11000,Regional,TNM,...,0,0,0,0,0,0,1,0,0,-1.340568
4,0,57,199905,81403,NaN,7,C20,10000,Localized,NaN,...,0,0,0,1,0,0,0,0,0,-0.530986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34116,1,82,202112,81403,2.0,7,C20,10000,Regional,NaN,...,0,0,0,1,0,0,0,0,0,1.492967
34117,1,64,202112,84803,9.0,7,C180,10000,Regional,TNM,...,0,0,0,1,0,0,0,0,0,0.035721
34118,1,52,202112,81403,2.0,7,C185,10000,Localized,TNM,...,0,0,0,1,0,0,0,0,0,-0.935777
34119,1,56,202112,81403,3.0,7,C182,11000,Regional,NaN,...,0,0,0,0,0,0,1,0,0,-0.611945
34120,1,56,202112,81403,3.0,7,C182,11000,Regional,NaN,...,0,0,0,0,0,0,1,0,0,-0.611945

34121
['C187' 'C180' 'C184' 'C20' 'C182' 'C181' 'C189' 'C186' 'C188' 'C183'
 'C185']

## 성별 확인

In [2]:
print(df['sex'].value_counts())
print(df['sex'].value_counts(normalize=True)*100)

sex
1    20257
0    13864
Name: count, dtype: int64
sex
1    59.368131
0    40.631869
Name: proportion, dtype: float64

## Summary stage 확인

In [3]:
print(df['seercode'].value_counts())
print(df['seercode'].value_counts(normalize=True)*100)

seercode
Regional     15126
Localized    13034
Distant       5961
Name: count, dtype: int64
seercode
Regional     44.330471
Localized    38.199349
Distant      17.470180
Name: proportion, dtype: float64

## 사망&중도절단 확인

In [4]:
print(df['event_inc'].value_counts())
print(df['event_inc'].value_counts(normalize=True)*100)

event_inc
0    19427
1    14694
Name: count, dtype: int64
event_inc
0    56.935612
1    43.064388
Name: proportion, dtype: float64

## 치료 유형 확인
수술, 화학요법, 방사선요법, 면역요법, 호르몬요법

In [5]:
tx_cols = [col for col in df.columns if col.startswith('tx_')]
print(tx_cols)

['tx_00000', 'tx_00100', 'tx_01000', 'tx_01100', 'tx_10000', 'tx_10010', 'tx_10100', 'tx_11000', 'tx_11010', 'tx_11100']

In [27]:
print(df['tx'].value_counts(normalize=True)*100)
print(df['tx'].value_counts())

tx
10000    48.644530
11000    24.606547
0        12.555318
1000      5.542042
11100     4.038569
1100      2.388558
10100     0.838193
11010     0.512881
100       0.460127
10010     0.413235
Name: proportion, dtype: float64
tx
10000    16598
11000     8396
0         4284
1000      1891
11100     1378
1100       815
10100      286
11010      175
100        157
10010      141
Name: count, dtype: int64

In [ ]:
print(48.64+ 24.61+ 12.56+ 5.54+ 4.04+ 2.39+ 0.84+ 0.46+ 0.51+ 0.41)

100.00000000000001

['tx_00000', 'tx_00100', 'tx_01000', 'tx_01100', 'tx_10000', 'tx_10010', 'tx_10100', 'tx_11000', 'tx_11010', 'tx_11100']

In [6]:
print(df['tx_00000'].value_counts())
print(df['tx_00000'].value_counts(normalize=True)*100)

tx_00000
0    29837
1     4284
Name: count, dtype: int64
tx_00000
0    87.444682
1    12.555318
Name: proportion, dtype: float64

In [7]:
print(df['tx_11010'].value_counts())
print(df['tx_11010'].value_counts(normalize=True)*100)

tx_11010
0    33946
1      175
Name: count, dtype: int64
tx_11010
0    99.487119
1     0.512881
Name: proportion, dtype: float64

In [8]:
print(df['tx_10000'].value_counts())
print(df['tx_10000'].value_counts(normalize=True)*100)

tx_10000
0    17523
1    16598
Name: count, dtype: int64
tx_10000
0    51.35547
1    48.64453
Name: proportion, dtype: float64

In [9]:
print(df['tx_10010'].value_counts())
print(df['tx_10010'].value_counts(normalize=True)*100)

tx_10010
0    33980
1      141
Name: count, dtype: int64
tx_10010
0    99.586765
1     0.413235
Name: proportion, dtype: float64

In [10]:
print(df['tx_10100'].value_counts())
print(df['tx_10100'].value_counts(normalize=True)*100)

tx_10100
0    33835
1      286
Name: count, dtype: int64
tx_10100
0    99.161807
1     0.838193
Name: proportion, dtype: float64

In [11]:
print(df['tx_11100'].value_counts())
print(df['tx_11100'].value_counts(normalize=True)*100)

tx_11100
0    32743
1     1378
Name: count, dtype: int64
tx_11100
0    95.961431
1     4.038569
Name: proportion, dtype: float64

In [12]:
print(df['tx_11000'].value_counts())
print(df['tx_11000'].value_counts(normalize=True)*100)

tx_11000
0    25725
1     8396
Name: count, dtype: int64
tx_11000
0    75.393453
1    24.606547
Name: proportion, dtype: float64